{% extends 'base_template.html' %}
{% load humanize %}

{% block title %}
	{{ employee.name }}
{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
	<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            {% include 'alerts.html' %}
            <div class="card">
                {% if employee.profile %}
                    <img src="{{ employee.profile.url }}" alt="" class="card-img-top">
                {% endif %}

                <div class="card-body">
                    <h2 class="card-title">{{ employee.name }}</h2>
                    <p class="card-text">Ksh {{ employee.salary }}</p>
                    <p class="card-text">Born on {{ employee.dob }}</p>
                    <p class="card-text">Address is {{ employee.email }}</p>
                    <p class="card-text">Added {{ employee.created_at | naturaltime }}</p>

                    {% if perms.main_app.delete_employees %}
                    	<a href="{% url 'delete' employee.id %}" class="btn btn-danger w-50">Delete</a>
                    {% endif %}

                    {% if perms.main_app.change_employee %}
                    	<a href="{% url 'update' employee.id %}" class="btn btn-info w-50 mt-2">Update</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

